@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Pangolin', cursive;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.board {
  width: 400px;
  margin-bottom: 2rem;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: black solid 3px;
  cursor: pointer;
  transition: 0.1s ease;
}

.score {
  font-size: 60px;
  margin: 0;
}

.button {
  outline: none;
  border: 3px solid black;
  background-color: white;
  font-size: 30px;
  border-radius: 20px;
  padding: 20px 40px;
  cursor: pointer;
}
