* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.board {
  border: 2px solid rgb(71, 71, 165);
  width: 400px;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: black solid 1px;
  cursor: pointer;
}
